# .env.example
GEMINI_API_KEY=
OPENAI_API_KEY=
VITE_SUPABASE_URL=https://wepnjmoaswfkhxdvpnep.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndlcG5qbW9hc3dma2h4ZHZwbmVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0MDgyODMsImV4cCI6MjA5MDk4NDI4M30.3Ozg5PTxPQDOokwKGSoVmO9I7zIHkf1n3d1DdGqn4jI
SENDGRID_API_KEY=
SENDGRID_VERIFIED_SENDER=
